...Basic Data Structures in Python
1. Tuple
2. List
3. Dictionaries
4. set

##1. Tuple
ordered collection of elements
encloses in round braces
different kind of elements
once elements stored you can not change

In [3]:
tupl = (1, "python", True, 2.5)
tupl

(1, 'python', True, 2.5)

In [4]:
type(tupl)

tuple

In [9]:
tupl[0]

1

In [11]:
tupl[0:4]

(1, 'python', True, 2.5)

In [13]:
len(tupl)

4

In [15]:
tupl2 = (2, "Nasir Nauman", 4.5, False)
tupl2

(2, 'Nasir Nauman', 4.5, False)

In [16]:
tupl + tupl2

(1, 'python', True, 2.5, 2, 'Nasir Nauman', 4.5, False)

In [20]:
tupl*2 + tupl2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'Nasir Nauman', 4.5, False)

In [23]:
tupl3 = (40, 50, 30, 60, 79, 85)
tupl3

(40, 50, 30, 60, 79, 85)

In [24]:
min(tupl3)

30

In [25]:
max(tupl3)

85

In [29]:
tupl3*3

(40, 50, 30, 60, 79, 85, 40, 50, 30, 60, 79, 85, 40, 50, 30, 60, 79, 85)

# List

In [35]:
list1 = [1, "baba python", True]
list1

[1, 'baba python', True]

In [36]:
type(list1)

list

In [37]:
len(list1)

3

In [39]:
list1[2]

True

In [44]:
list2 =[3, 5, "nasir", 475, True, 4.5]
list2

[3, 5, 'nasir', 475, True, 4.5]

In [45]:
list1+list2

[1, 'baba python', True, 3, 5, 'nasir', 475, True, 4.5]

In [46]:
list1*2 +list2

[1, 'baba python', True, 1, 'baba python', True, 3, 5, 'nasir', 475, True, 4.5]

In [47]:
list1.reverse()
list1

[True, 'baba python', 1]

In [49]:
list1.append("learn python with me")
list1

[True, 'baba python', 1, 'learn python with me', 'learn python with me']

In [58]:
count = list2.count(3)
print('count of 2 :', count)

count of 2 : 1

In [62]:
vowels = ['a', 'e', 'i', 'o', 'i', 'u']
# count element 'i'
count = vowels.count('i')
# print count
print('The count of i is:', count)

The count of i is: 2

In [63]:
list3 = [20, 30, 35, 50, 40, 12, 15, 11, 10, 356, 56, 886]
list3

[20, 30, 35, 50, 40, 12, 15, 11, 10, 356, 56, 886]

In [64]:
len(list3)

12

In [65]:
# sorting of list 
list3.sort()
list3

[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]

In [66]:
list3*2

[10,
 11,
 12,
 15,
 20,
 30,
 35,
 40,
 50,
 56,
 356,
 886,
 10,
 11,
 12,
 15,
 20,
 30,
 35,
 40,
 50,
 56,
 356,
 886]

In [74]:
lis=list1 + list2 +list3

In [75]:
for x in list3:
     print(list3)

[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]
[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]
[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]
[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]
[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]
[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]
[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]
[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]
[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]
[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]
[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]
[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]

## Dictionaries 
- An unordered collections of elements
- Key and Value
-curly braces or brackets{}
-Mutateable/ change values

In [76]:
#Food and their Prices
food1 = {"samosa":30, "Pakora":100, "Raita":50, "salad":15, "chiken rolls":25}
food1

{'samosa': 30, 'Pakora': 100, 'Raita': 50, 'salad': 15, 'chiken rolls': 25}

In [78]:
type(food1)

dict

In [81]:
keys1 = food1.keys()
keys1

dict_keys(['samosa', 'Pakora', 'Raita', 'salad', 'chiken rolls'])

In [83]:
values1 = food1.values()
values1

dict_values([30, 100, 50, 15, 25])

In [84]:
food1["tikki"]=5
food1

{'samosa': 30,
 'Pakora': 100,
 'Raita': 50,
 'salad': 15,
 'chiken rolls': 25,
 'tikki': 5}

In [86]:
#update the values
food1["tikki"]=15
food1

{'samosa': 30,
 'Pakora': 100,
 'Raita': 50,
 'salad': 15,
 'chiken rolls': 25,
 'tikki': 15,
 'tikkii': 15}

In [2]:
food1

NameError: name 'food1' is not defined

In [3]:
food2 = {"dates":50, "Choclates":200, "swyyan":1000}
food2

{'dates': 50, 'Choclates': 200, 'swyyan': 1000}

In [1]:
food1.update(food2)

NameError: name 'food1' is not defined