In [1]:
import pandas as pd
df = pd.read_csv('mldata.csv')

In [2]:
df['gender'] = df['gender'].replace("Male", 1)
df['gender'] = df['gender'].replace("Female", 0)
df

     age  weight  gender likeness   height
0     27    76.0       1  Biryani  170.688
1     41    70.0       1  Biryani      165
2     29    80.0       1  Biryani      171
3     27   102.0       1  Biryani      173
4     29    67.0       1  Biryani      164
..   ...     ...     ...      ...      ...
240   31    60.0       1   Pakora      160
241   26    70.0       1  Biryani      172
242   40    80.0       1  Biryani      178
243   25    65.0       1  Biryani      5.7
244   33    56.0       0   Samosa      157

[245 rows x 5 columns]

In [3]:
# selection of input and ouput varables
x = df[['weight', 'gender']]
y = df['likeness']

In [4]:
x

     weight  gender
0      76.0       1
1      70.0       1
2      80.0       1
3     102.0       1
4      67.0       1
..      ...     ...
240    60.0       1
241    70.0       1
242    80.0       1
243    65.0       1
244    56.0       0

[245 rows x 2 columns]

In [4]:
y

0      Biryani
1      Biryani
2      Biryani
3      Biryani
4      Biryani
        ...
240     Pakora
241    Biryani
242    Biryani
243    Biryani
244     Samosa
Name: likeness, Length: 245, dtype: object

In [6]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\nasirnauman\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nasirnauman\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\nasirnauman\anaconda3\lib\site-packages (from scikit-learn) (1.7.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\nasirnauman\anaconda3\lib\site-packages (from scikit-learn) (1.20.3)
Requirement already satisfied: joblib>=0.11 in c:\users\nasirnauman\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
# machine Learning Algorithan
from sklearn.tree import DecisionTreeClassifier
# create and fit our model
model = DecisionTreeClassifier().fit(x,y)

# Prediction
model.predict([[30,0]])

array(['Biryani'], dtype=object)

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
#create a model
model = DecisionTreeClassifier()
model.fit(x_train, y_train)
predicted_values = model.predict(x_test)
predicted_values
score = accuracy_score(y_test, predicted_values)
score

0.5306122448979592

In [7]:
# how to train and save your model
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib
model = DecisionTreeClassifier().fit(x,y)
joblib.dump(model, "foodie.pk")

['foodie.pk']

In [8]:
# how to run a import/run a stored a saved model on our data?
loaded_model = joblib.load('foodie.pk')
prevalues=loaded_model.predict(x_test)
prevalues

array(['Samosa', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Pakora', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Samosa'], dtype=object)

In [10]:
# graph
from sklearn import tree
model = DecisionTreeClassifier().fit(x,y)
tree.export_graphviz(model, 
                    out_file='foodie.dot', 
                    feature_names= ['age','gender'], 
                    class_names= sorted(y.unique()),
                    label='all',
                    rounded= True,
                    filled=True)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
df = sns.load_dataset("iris")
df.head()